* {
    box-sizing: border-box;
    padding: 0;
}

.container{
    margin: 5% 5%;
    background-color: rgba(218, 221, 221, 0.774);
    border-radius: 25px;
    width: 90%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    
}




.images{
    /* border: 1px solid blue; */
    margin-right: 80px;
    float: right;

}


.box{
    width: 300px;
    height: 150px;
    border: 1px;
    position: absolute;
    
    background-color: #0292b398;
}

.madara{
    height: 300px;
    
    position: relative;
    top: 15px;
    left: 15px;
    border-radius: 25px;
    
}


    .text{
        /* border: 1px solid black; */
        color: rgb(1, 25, 142);
        font-family:sans-serif;
        line-height: 1.5rem;
        font-size: 1.2rem;
    }
